---
import Layout from "../layouts/Layout.astro";
import GithubLogo from "../images/SVGs/github-mark-white.svg";
import LinkedinLogo from "../images/SVGs/linkedin.svg";
---

<Layout title="About Me">
    <div
        class="mx-auto px-6 pb-10 max-w-5xl prose prose-invert prose-a:text-trace-green"
    >
        <div class="bg-[#232323] rounded-lg shadow-lg p-8 w-full">
            <p class="text-3xl mt-0">
                <span class="text-7xl px-6 font-bold text-copper">Hey!</span> My
                name is Alan Barzilay and I code for a living.
            </p>

            <p>
                If there is something I learned at university is that all
                presentations should be about yourself and start with a way too
                long puff piece about how you are amazing and everyone should be
                honored to be in the same room as you. So, let me give it a try.
            </p>
            <p>
                I'm a BSc in Molecular Sciences and a <a
                    href="https://www.teses.usp.br/teses/disponiveis/45/45134/tde-18012024-163530/pt-br.php"
                    target="_blank">MSc in Computer Science</a
                >, I guess I have been working with machine learning for almost
                a decade and my master thesis used transformers before they were
                cool. Sometimes I write in Portuguese (my first language) but
                mostly in English, depends on the subject. Besides all that
                technical stuff I also like biology, bikes, DIY, retro consoles,
                fixing old stuff, and Chorão (the dead brazilian skate riding
                punk rock singer from the 90's).

                <p>
                    I originally created this blog <s
                        >to virtue signal and write hacker news bait</s
                    > share my passion for data science and software development...
                    but it kinda devolved into a showcase of my projects and whatever
                    is my latest hyper-fixation. If I managed to interest you enough,
                    you can keep up with my latest posts through my <a
                        href="/rss.xml">RSS feed</a
                    >. Or if I failed really hard, you can forward your hate
                    mail directly to my social medias: <span
                        class="inline-flex flex-row gap-3 align-middle pl-2"
                        ><a href="https://github.com/alan-barzilay"
                            ><GithubLogo /></a
                        >
                        <a
                            href="https://www.linkedin.com/in/alan-barzilay-58754855/"
                            ><LinkedinLogo /></a
                        ></span
                    >
                </p>
                <hr class="border-gray-700" />
                <p>
                    <b class="text-copper font-bold text-xl pl-1 pr-4"
                        >Disclaimer:</b
                    > No LLMs (""AI"") where used in the production of my posts,
                    which you can verify yourself by the plethora of typos I make
                    due to my laziness to setup a proper spellchecking system. Also,
                    english is my fourth language, give me a break. Any and all bad
                    takes are my own opinion and dont represent anyone besides myself.
                </p>
            </p>
        </div>
    </div>
</Layout>
