---
// import FancySeparator from "./FancySeparator.astro";
const props = Astro.props;
---

<div class="w-fit">
  <h2 {...props}><slot /></h2>

  <div class="flex text-trace-green h-auto">
    <svg
      width="133"
      height="24"
      viewBox="-2 -2 133 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="7" cy="7" r="5.5" stroke="currentColor" stroke-width="3"
      ></circle>

      <path
        d="M 13 7 L 118 7 L 128 14 L 133 14"
        stroke="currentColor"
        stroke-width="3"></path>
    </svg>
    <svg
      class="w-full"
      height="24"
      viewBox="0 0 100 24"
      preserveAspectRatio="none"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <line
        x1="0"
        y1="16"
        x2="100"
        y2="16"
        stroke="currentColor"
        stroke-width="3"></line>
    </svg>

    <svg
      class="-ml-px"
      width="14"
      height="24"
      viewBox="0 0 14 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="7" cy="16" r="5.5" stroke="currentColor" stroke-width="3"
      ></circle>
    </svg>
  </div>
</div>
