---
import Logo from "../images/logo.svg";
const { pathname } = Astro.url;
const isActive = (path: string) => pathname === path || pathname === `${path}/`;

const navItems = [
  { href: "/blog", label: "Posts" },
  { href: "/tags", label: "Tags" },
  { href: "/about", label: "About me" },
];
---

<nav
  class="text-white mx-auto max-w-7xl
  h-20
  px-4 lg:px-8
  flex items-center justify-between gap-x-6
  mb-12 mt-2 font-sans"
>
  <a href="/" class="flex items-center gap-3">
    <Logo class="fill-current text-copper" />
    <span class="text-4xl
      text-white sr-only sm:not-sr-only"
      >Alan Barzilay</span
    >
  </a>

  <ul
    class="flex items-center gap-x-6 lg:gap-x-8 md:text-2xl text-xl *:pb-1 *:hover:border-b-3 *:hover:border-copper *:hover:text-copper *:transition-colors"
  >
    {
      navItems.map(({ href, label }) => (
        <li
          class={isActive(href) ? "border-b-3 border-copper text-copper" : ""}
        >
          <a href={href} aria-current={isActive(href) ? "page" : undefined}>
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
