<nav
  class="text-white mx-auto max-w-7xl
  px-4 sm:px-6 lg:px-8
  flex h-20 items-center justify-between
  mb-12 mt-2 font-sans"
>
  <a href="/" class="flex items-center gap-3">
    <svg
      aria-hidden="true"
      class="h-8 w-8 text-brand-accent"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5"
      ></path>
    </svg>
    <span class="text-4xl text-white">Alan Barzilay</span>
  </a>

  <ul class="flex items-center space-x-8 text-2xl *:hover:text-copper">
    <li>
      <a
        href="/posts"
        class="font-medium border-b-3 border-brand-accent pb-1 transition-colors text-copper"
      >
        Posts
      </a>
    </li>
    <li>
      <a href="/tags" aria-current="page" class="transition-colors"> Tags </a>
    </li>
    <li>
      <a href="/about" class="transition-colors"> About me </a>
    </li>
  </ul>
</nav>
