---
import "../styles/global.css";
const { tag } = Astro.props;
const tagUrl = `${import.meta.env.BASE_URL}tags/#${tag}`;
---

<div
  class="relative h-fit bg-dark-grey text-subtext-grey hover:text-white px-1 text-xs group/tag"
>
  <div
    class="absolute top-0.5 right-0.5 size-1 bg-subtext-grey group-hover/tag:bg-white rounded-full"
  >
  </div>
  <!-- odeio esse z-20 -->
  <a href={tagUrl} class="relative z-20 pr-1">
    {tag}
  </a>
</div>
